body
{
    background-color: lightblue;
}
table
{
    border: 1px solid black;
}
td
{
    border: 1px solid red;
}
.l2
{
    text-align: justify;
    list-style-type: square;
}
ol
{
    list-style-type: upper-roman;
}
h1
{
    text-align: center;
}